<template>
    <div class="bg">
        Login
    </div>
</template>
<script>

export default({
    name: "Login",
    
    
    methods:{
        
    }
})
</script>
<style scoped>
.bg{
    height: 100vh;
    width: 100vw;
    background-image: 'assets/loginbg.jpg';
}
</style>