<template>
    <el-button>Register</el-button>
</template>
<script>

export default({
    name: "Register",
    // data(){
    //     return {
    //         listusers
    //     }
    // }
})
</script>
